/*Our Strength*/
.ourStrength{
	// background-color: $base;
	// color:#fff;
	position: relative;
	.headContent{
		text-align: center;
		margin-bottom: 4rem;
		h2{
			// color:#fff;
			margin-bottom: 2.1rem;
			@media(min-width: 992px){
				font-size: 4rem;
				line-height: 1.4;
			}
		}
		p{
			// color:#fff;
			max-width: 765px;
			margin:0 auto;
			&.bigFont{
				font-size: 18px;
				line-height: 1.4;
				@media(min-width: 992px){
					font-size: 3rem;
				}
			}
		}
		&.smallHeadContent{
			width: 100%;
			margin: 0 auto;
			@media(min-width: 600px){
				width: 425px;
			}
			@media(min-width: 992px){
				width: 720px;
				margin-top: 2rem;
			}
		}
	}
	// Spider Section 6 reason 
	.WhiteBoxWrapper, .spiderSection{
		padding:35px 20px;
		align-items: center;
		@media(max-width: 991px){
			padding:40px 20px 35px;
		}
		.InnerBox{
			// spider
			.spider{
				@media(min-width: 992px){
					display: flex;
					justify-content: space-between;
					align-items: center;
				}
				&_leg{
					flex: 1;
					&.leftLeg{
						li{
							@media(max-width: 991px){
								flex-direction: row-reverse;
							}
							@media(min-width: 992px){
								padding-right: 70px;
							}
						}
					}
					&.rightLeg{
						li{
							@media(min-width: 992px){
								padding-right: 0;
								padding-left: 70px;
							}
							span{
								text-align: left;
							}
							&::before{
								@media(min-width: 992px){
									right: unset;
									background:url('../img/triangle-pointer2.svg') no-repeat;
									background-size: 100%;
									transform: translateY(-50%) rotate(35deg);
									left: 10px;
								}
								@media(min-width: 1199px){
									left: 10px;
								}
							}
							&:first-child{
								@media(min-width: 992px){
									padding-right: 0;
									padding-left: 50px;
								}
								@media(min-width: 1199px){
									padding-left: 50px;
								}
								&::before{
									@media(min-width: 992px){
										transform: translateY(-50%);
										right: unset;
										top: 98%;
										left: 0px;
									}
									@media(min-width: 1199px){
										top: 98%;
										left: 0px;
									}
								}
							}
							&:last-child{
								@media(min-width: 992px){
									padding-right: 0;
									padding-left: 50px;
								}
								@media(min-width: 1199px){
									padding-left: 50px;
								}
								&::before{
									@media(min-width: 992px){
										transform: translateY(-50%) rotate(-45deg);
										right: unset;	
										top: 10px;
										left: 0px;
									}
									@media(min-width: 1199px){
										top: 10px;
										left: 0px;
									}
								}
							}
						}
					}
					li{
						margin-bottom: 30px;
						position: relative;
						// color:$white;
						display: flex;
						align-items: center;
						@media(min-width: 992px){
							margin:0 -12px;
						}
						&:before{
							@media(min-width: 992px){
								content: "";
								position: absolute;
								width: 60px;
								height: 60px;
								background:url('../img/triangle-pointer1.svg') no-repeat;
								background-size:100%;
								top: 50%;
								right: 15px;
								transform: translateY(-50%) rotate(85deg);
							}
							@media(min-width: 1199px){
								top: 50%;
								right: 15px;
							}
						}
						&:first-child{
							@media(min-width: 992px){
								padding-right: 50px;
							}
							@media(min-width: 1199px){
								padding-right: 50px;
							}
							&::before{
								@media(min-width: 992px){
									transform: translateY(-50%);
									top: 98%;
									right: -5px;
								}
								@media(min-width: 1199px){
									top: 98%;
									right: -5px;
								}
							}
						}
						&:last-child{
							@media(min-width: 992px){
								padding-right: 50px;
							}
							@media(min-width: 1199px){
								padding-right: 50px;
							}
							&::before{
								@media(min-width: 992px){
									transform: translateY(-50%) rotate(45deg);
									top:10%;
									right: 0px;
								}
								@media(min-width: 1199px){
									top:10%;
									right: 0px;
								}
							}
						}
						span{
								font-size: 16px;
								display: block;
								padding:0 12px;
								// flex:0 0 80%;
								flex: 1;
								text-align: left;
								@media(min-width: 992px){
									font-size: 16px;
									text-align: right;
								}
								@media(min-width: 1199){
									font-size: 18px;
								}
						}
						.iconWrap{
								padding: 0 12px;
								// flex:0 0 20%;
								background-color: $lightBase;
								width: 75px;
								height: 75px;
								border-radius: 50%;
								display: flex;
								align-items: center;
								justify-content: center;
								img{
									width: 32px;
								}
						}
						
						&:not(:last-child){
							// margin-bottom: 125px;
							margin-bottom: 65px;
						}
						@media(max-width: 991px){
							text-align:center;
							&:not(:last-child){
								margin-bottom: 50px;
							}
							span{
								font-size: 18px;
								margin-top:15px;
								min-height: 54px;
							}
						}
					}
				}
				
				&_body{
					max-width: 290px;
				}
				.imgWrap{
					padding: 40px;
					position: relative;
					background: url(../img/light-base-hexagonal.svg) no-repeat;
					background-size: 95%;
					background-position: center;
					display: flex;
					justify-content: center;
					align-items: center;
					&:before{
						// content: "";
						width: 95%;
						height: 98%;
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						background: url(../img/light-base-hexagonal.svg) no-repeat;
						background-size: 100%;
						background-position: center;
						z-index: -1;
					}
					&:after{
						content: "";
						width: 93px;
						height: 145px;
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						background: url(../img/b-blue-bg.svg) no-repeat;
						background-size: 100%;
						background-position: center;
						z-index: 2;
					}
					img{
						max-width:225px;
					}
				}
			}
			// end spider
			// .row{
			// 	@media(min-width: 992px){
			// 		align-items: center;
			// 	}
			// 	>div{
			// 		ul{
			// 			li{
			// 				margin-bottom: 30px;
			// 				position: relative;
			// 				// color:$white;
			// 				@media(min-width: 992px){
			// 					display: flex;
			// 					align-items: center;
			// 					margin:0 -12px;
			// 					&:before{
			// 						content: "";
			// 						position: absolute;
			// 						right: 0;
			// 						bottom: -5px;
			// 						width: 110%;
			// 						left: 20%;
			// 						height: 1px;
			// 						background: rgba(255,255,255,0.3);
			// 					}
			// 					/*&:after{
			// 						content:'';
			// 						position: absolute;
			// 						right:0;
			// 						bottom: -5px;
			// 						width:100px;
			// 						height:1px;
			// 						background: red;
			// 					}*/
			// 					&:first-child,&:last-child{
			// 						&:before{
			// 							bottom: -80px;
			// 							left:100%;
			// 							width: 70px;
			// 							height:70px;
			// 							background:url('../img/triandle-ponter1.svg') no-repeat;
			// 							background-size:100%;
			// 						}
			// 					}
			// 					&:last-child{
			// 						&:before{
			// 							bottom:0;
			// 							background:url('../img/connect-line-up1.svg') no-repeat;
			// 							background-size: contain;
			// 						}
			// 					}
			// 				}
			// 				span{
			// 						font-size: 16px;
			// 						display: block;
			// 						padding:0 12px;
			// 						// flex:0 0 80%;
			// 						flex: 1;
			// 						text-align: right;
			// 						@media(max-width: 1199px){
			// 							font-size: 18px;
			// 						}
			// 				}
			// 				.iconWrap{
			// 						padding: 0 12px;
			// 						// flex:0 0 20%;
			// 						background-color: $lightBase;
			// 						width: 75px;
			// 						height: 75px;
			// 						border-radius: 50%;
			// 						display: flex;
			// 						align-items: center;
			// 						justify-content: center;
			// 						img{
			// 							width: 32px;
			// 						}
			// 				}
							
			// 				&:not(:last-child){
			// 					// margin-bottom: 125px;
			// 					margin-bottom: 50px;
			// 				}
			// 				@media(max-width: 991px){
			// 					text-align:center;
			// 					&:not(:last-child){
			// 						margin-bottom: 50px;
			// 					}
			// 					span{
			// 						font-size: 18px;
			// 						margin-top:15px;
			// 						min-height: 54px;
			// 					}
			// 				}
			// 			}
			// 		}
			// 		&:first-child{
			// 			@media(max-width: 991px){
			// 				order:2;
			// 			}
			// 		}
			// 		&:last-child{
			// 			@media(max-width: 991px){
			// 				order:3;
			// 			}
			// 			ul{
			// 				li{
			// 					@media(min-width:992px){
			// 						flex-direction: row-reverse;
			// 						justify-content: flex-start;
			// 						&:before{
			// 							left:initial;
			// 							right:20%; 
			// 						}
			// 						&:first-child{
			// 							&:before{
			// 								background:url('../img/connect-line-down2.svg') no-repeat;
			// 							}
			// 						}
			// 						&:last-child{
			// 							&:before{
			// 								background:url('../img/connect-line-up2.svg') no-repeat;
			// 							}
			// 						}
			// 						span{
			// 							text-align: right;
			// 							margin-right:0;
			// 						}
			// 					}
			// 				}
			// 			}
			// 		}
			// 		.imgWrap{
			// 			padding: 40px;
			// 			position: relative;
			// 			background: url(../img/light-base-hexagonal.svg) no-repeat;
			// 			background-size: 95%;
			// 			background-position: center;
			// 			display: flex;
			// 			justify-content: center;
			// 			align-items: center;
			// 			&:before{
			// 				// content: "";
			// 				width: 95%;
			// 				height: 98%;
			// 				position: absolute;
			// 				left: 50%;
			// 				top: 50%;
			// 				transform: translate(-50%, -50%);
			// 				background: url(../img/light-base-hexagonal.svg) no-repeat;
			// 				background-size: 100%;
			// 				background-position: center;
			// 				z-index: -1;
			// 			}
			// 			&:after{
			// 				content: "";
			// 				width: 93px;
			// 				height: 145px;
			// 				position: absolute;
			// 				left: 50%;
			// 				top: 50%;
			// 				transform: translate(-50%, -50%);
			// 				background: url(../img/b-blue-bg.svg) no-repeat;
			// 				background-size: 100%;
			// 				background-position: center;
			// 				z-index: 2;
			// 			}
			// 			img{
			// 				max-width:225px;
			// 			}
			// 		}
			// 	}
			// }
		}
	}
	.parallax_elements{
		.yellow-small-circle{
			right: 6%;
			top: 2rem;
		}
		.blue-small-circle{
			left: 5rem
		}
		.yellow-medium-circle{
			right: 10%;
			bottom: 10px;
		}
	}
}


/*Why Choose Bizspoke*/
.whyChooseBizspoke{
	text-align: center;
	color:#333;
	position: relative;
	@media(min-width: 576px){
		padding-bottom: 175px;
		margin-bottom: 165px;
	}
	&.aboutUsPage{
		.mainHeading{
			p{
				max-width: 95%;
				@media(min-width: 992px){
					max-width: 80%;
				}
			}
		}
		.promisePoints{
			padding: 2rem 0 1.5rem;
		}
	}
	.promisePoints{
		padding:5rem 0 1.5rem;
		.row{
			justify-content: center;
			>div{
				@media(max-width: 767px){
					margin-bottom: 30px;
				}
				.icon{
					width: 57px;
					height: 57px;
					margin-bottom: 2rem;
				}
        .hexagonImage{
					width:110px;
					height: 126px;
					background-color:$base;
					@include FlexCenter;
					margin-bottom: 15px;
				}
			}
		}
		h3{
			font-weight: 500;
			margin-bottom: 14px;
		}
		ul{
			li{
				font-size: 15px;
				&:not(:last-child){
					margin-bottom: 2px;
				}
			}
		}
	}
	.blueBoxContent{
		padding: 3rem 4rem;
		width: 100%;
		@media(min-width: 576px){
			max-width: 540px;
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		@media(min-width: 768px){
			max-width: 720px;
		}
		@media(min-width: 992px){
			max-width: 960px;
		}
		@media(min-width: 1024px){
			max-width: 1000px;
		}
		@media(min-width: 1200px){
			max-width: 1160px;
		}
		.head{
			color: #fff;
			line-height: 1.4;
			margin-bottom: 15px;
			@media(min-width: 992px){
				font-size: 4rem;
			}
		}
		.content, p{
			color: #fff;
			font-size: 20px;
			line-height: 1.4;
			@media(min-width: 992px){
				font-size: 3rem;
			}
		}
	}
	.resultPoints{
		@include FlexCenter;
		ul{
			li{
				display: flex;
				font-size: 14px;
				h4{
					margin-bottom: 0;
					margin-right:5px;
					color:$base;
					font-size: 14px;
				}
				&:not(:last-child){
					padding-bottom: 15px;
					margin-bottom: 15px;
					border-bottom:1px solid rgba($black,0.1);
				}
			}
		}
	}
}

/*Vision & Mission*/
.vision_mission{
	text-align: center;
	position: relative;
	// background-col	or:#F0F6FB;
	h2{
		@media(max-width: 767px){
			text-align: center;
		}
	}
	.points{
		.pointWrap{
			display: flex;
			margin-bottom: 20px;
			justify-content: center;
			.hexagonImage{
				width:220px;
				height: 190px;
				background-color: $base;
				color:$white;
				text-align: center;
				clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
				@include FlexCenter;
				flex-direction: column;
				padding:25px 38px;
				position: relative;
				z-index: 1;
				margin:0;
				img{
					margin-bottom: 12px;
					width: 45px;
				}
				h3{
					color:$white;
					font-size: 15px;
					margin-bottom: 5px;
				}
				p{
					color:$white;
					font-size: 14px;
					line-height: 1.5;
				}
			}
			.description{
				flex: 1;
				background: white;
				height: auto;
				display: flex;
				align-items: center;
				padding: 5rem 5rem 5rem 7rem;
			  margin-left: -6%;
				clip-path: polygon(0 0, 100% 0, 100% 84%, 96% 100%, 0 100%);
				.content{
					font-size: 15px !important;
				    max-width: 650px;
				    margin: 0 auto;
				    text-align: left;
						@media(max-width: 767px){
							text-align: center;
						}
					span{
						font-size: 15px;
						color:#333;
					}
				}
			}
			@media(max-width: 767px){
				flex-wrap:wrap;
				.description{
					margin-left: 0;
					padding:4rem;
					margin-top:20px;
					clip-path: none;
					padding-top: 0;
				}
			}
		}
	}
	.hexagonImageMain{
		width: 35%;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		z-index: 7;
		padding: 5rem;
		@media(min-width:1200px){
			width: 30%;
		}
		@media(max-width: 767px){
			display: none;
		}
		&:before{
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%) rotate(-8deg);
			background: url(../img/light-base-hexagonal.svg) no-repeat 50%;
			background-size: contain;
			z-index: 2;
		}
		&:after{
			content: "";
			width: 145%;
			height: 145%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%) rotate(12deg);
			background: url(../img/light-base-hexagonal.svg) no-repeat 50%;
			background-size: contain;
			z-index: 2;
			opacity: 0.3;
		}
		img{
			position: relative;
			z-index: 3;
		}
	}
	// Parallax Element
	.parallax_elements{
		.yellow-small-circle{
			right: 34%;
			top: 7rem;
		}
		.yellow-medium-circle{
			right: 30%;
			bottom: 10px;
		}
	}
}

/*Our Team*/
.ourTeam{
	text-align: center;
	.headContent{
		max-width: 535px;
		text-align: center;
		margin:0 auto 7rem;
	}
	.row{
		justify-content: center;
		>div{
			a{
				.hexagonImage{
					width:205px;
					height: 237px;
					background:transparent;
				}
					h3{
						margin:25px 0 5px;
						font-weight: 500;
					}
					span{
						font-size: 15px;
						color:#333;
					}
			}
			@media(max-width: 767px){
				margin-bottom:30px;
				a{
					.hexagonImage{
						width:80%;
						height: 60%;
					}
				}
			}
		}
	}
}