.accordion{
  &_head{
    font-size: 18px;
    padding-bottom: 5px;
    cursor: pointer;
    display: flex;
    span{
      width: 16px;
      font-weight: 100;
    }
  }
  &_body{
    // background-color: #f4f6f7;
    padding: 0 15px 10px;
    // border-top: 1px solid #d1d1d19e;
    margin-bottom: 15px;
    p{
      font-size: 1.4rem;

    }
  }
}