.Btn{
  background-color:$white;
  /*border:2px solid $base;*/
  outline: none;
  display: inline-block;
  text-align: center;
  color:$white;
  font-size: 14px;
  font-weight: 600;
  padding: 13px 50px;
  text-transform:uppercase;
  position: relative;
  z-index: 1;
  cursor:pointer;
  transition: 0.4s;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 93% 100%, 0 100%);
  &:after{
    content: "";
    position: absolute;
    z-index: -1;
    background: $base;
    top:2px;
    left:2px;
    right:2px;
    bottom: 2px;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 93% 100%, 0 100%);
    transition: 0.4s;
  }
  &:hover{
  color:$base;
  background-color:$base;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);
	  &:after{
	  	background-color:$white;
	    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);
	  }
  }
  &.transparent{
  	background-color: $base;
  	color:$base;
  	 &:after{
        background: $white;
      }
  	&:hover{
  		background-color:$white;
  		color:$white;
  		&:after{
  			background-color:$base;
  		}
  	}
  }
  &.whiteBg{
  	color:$base;
    &:after{
      background: $white;
    }
    &:hover{
  		background-color:$white;
  		color:$white;
  		&:after{
  			background-color:$base;
  		}
  	}
  }
  @media(max-width: 767px){
  	padding:11px 26px;
  }
}




