.caseStudyCardSection{
  position: relative;
  &.caseStudiesPage{
    &:before{
      left: 0px;
      top: -37%;
      transform: rotate(130deg);
      width: 100%;
      background-size: 100%;
      padding: 119px;
    }
    .btnWrap{
      margin-top: 0rem;
      @media(min-width: 768px){
        margin-top: 3rem;
      }
    }
  }
  .btnWrap{
    margin-top: 0rem;
    @media(min-width: 768px){
      margin-top: 5rem;
    }
  }
  .parallax_elements{
    .yellow-small-circle{
      right: -45px;
      top: 3%;
      img{
        width: 75px;
      }
    }
    .yellow-medium-circle{
      img{
        width: 35px;
      }
    }
    .blue-small-circle{
      bottom: unset;
      right: unset;
      top: 0;
      left: 50%;
    }
    .blue-big-circle{
      left: 15%;
      bottom: -20px;
    }
  }
}
.col-md-12, .col-sm-12, .col-12{
  .caseStudyCard{
    &_imageWrap{
      height: 300px;
      @media(min-width: 992px){
        height: 350px;
      }
    }
  }
}
.caseStudyCard{
  position: relative;
  display: block;
  background-color: #fff;
  border: 1px solid lighten($gray, 28%);
  height: 100%;
  transition: all 0.25s ease-in;
  z-index: 2;
  &:hover{
    border: 1px solid lighten($gray, 10%);
    .caseStudyCard_imageWrap{
      img{
        transform: perspective(1000px) scale(1.08);
        &.grayScale{
          filter: unset;
        }
      }
    }
  }
  &_imageWrap{
    width: 100%;
    height: 300px;
    overflow: hidden;
    @media(min-width: 768px){
      height: 190px;
    }
    @media(min-width: 992px){
      height: 235px;
    }
    @media(min-width: 1199px){
      height: 285px;
    }
    @media(min-width: 1199px){
      height: 285px;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.25s ease-in;
      &.grayScale{
        filter: grayscale(1);
      }
    }
  }
  &_content{
    padding: 25px 18px 18px;
    .leftlogoRightDate{
      min-height: 32px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .image{
        width: 85px;
      }
      .text{
        font-weight: bold;
        display: inline-block;
        font-size: 16px;
        max-width: 55%;
      }
      small{
        flex: 1;
        padding-left: 25px;
        text-align: right;
      }
    }
    h3{
      font-size: 17px;
      margin-bottom: 6px;
    }
    p{
      margin-bottom: 0;
    }
  }
}