.caseStudies{
	&:before{
		content: "";
	    position: absolute;
	    left: 50%;
	    transform: translateX(-50%);
	    top: -190px;
	    width: 100%;
	    height: 575px;
	    background: url(../img/semi-hexagon.svg) no-repeat 50%;
	    background-size: cover;
	    @media(max-width: 575px){
	    	height:400px;
	    }
	}
}

.threeCardsWithElements{
	position: relative;
	&:before{
		content:'';
		width:55px;
		height: 150px;
		position: absolute;
		left:0;
		top:40%;
		transform: translateY(-50%);
		background:url('../img/dots-pattern.png') no-repeat center;
		background-size: contain;
	}
	.parallax_elements{
		.circle {
         position: absolute;
         top:20px;
         right:-50px;
		}
	}
}
.SingleEventCard{
	position: relative;
	&:before{
		content:'';
		width:55px;
		height: 150px;
		position: absolute;
		right:0;
		top:40%;
		transform: scaleX(-1) translateY(-50%);
		background:url('../img/dots-pattern.png') no-repeat center;
		background-size: contain;
	}
	.parallax_elements{
		.circle {
         position: absolute;
         top:40%;
         transform: translateY(-50%);
         left:5px;
		}
	}
}
.twoEventCards{
	position: relative;
  .parallax_elements{
		.circle {
         position: absolute;
         top:40%;
         transform: translateY(-50%);
         left:-50px;
		}
	}
}