.ContactUsSection{
	position: relative;
	@media(max-width: 767px){
		padding:5rem 0;
	}
	@media(min-width:992px){
		&:before{
			content:'';
			width:55px;
			height: 150px;
			position: absolute;
			left:0;
			top:50%;
			transform:translateY(-50%);
			background:url('../img/dots-pattern.png') no-repeat center;
			background-size: contain;
		}
	}
	.row{
		margin:0 -30px;
		>div{
			padding:0 30px;
      .wrapper{
				padding:8rem 0;
				@media(min-width: 992px){
					padding:14rem 0;
				}
				@media(max-width: 767px){
					padding:0;
				}
		  }
			.contactInfo{
				position: relative;
				height: 100%;
				@media(max-width: 767px){
					height:500px;
				}
				&:before{
					content:'';
					position: absolute;
					left:0;
					top:0;
					right:0;
					bottom: 0;
					width:100%;
					height:100%;
					background:url('../img/b-base-color-shape.svg') no-repeat;
					background-size: contain;
					@media(min-width: 1400px){
						top:-8%;
					}
					@media(max-width: 991px){
						top:44%;
						transform: translateY(-50%);
						height:auto;
					}
					@media(max-width: 767px){
						height:500px;
						left:50%;
						top:50%;
						transform:translate(-50%,-50%);
						width:320px;
					}
					@media screen and (max-width: 991px) and (min-width: 600px){
						width: 115%;
						background-size: 100%;
						left: -30px;
						top: 56%;
						height: 100%;
					}
				}
				.innerWrap{
					position:absolute;
					top:50%;
					left:50%;
					transform: translate(-50%,-50%);
					z-index: 1;
					color:$white;
					font-size: 14px;
					width: 275px;
					@media(min-width: 768px){
						width: 280px;
					}
					@media(min-width: 992px){
						width: 340px;
					}
					@media(max-width: 767px){
						top:62%;
						left:52%;
					}
					/*.b-shape-hexagon{
						clip-path: polygon(20% 39%, 50% 27%, 100% 46%, 100% 80%, 100% 80%, 51% 100%, 0 80%, 0 45%, 0 7%, 20% 0);
						width:535px;
						height: 830px;
						background-color: $base;
					}*/
					.addressContainer{
						display: flex;
						justify-content: space-between;
						>*{
							width: 50%;
							padding-right: 10px;
							@media screen and (max-width: 991px) and (min-width: 600px){
								width: 100%;
							}
							@media(min-width: 992px){
								padding-right: 25px;
							}
							&:last-child{
								// padding-right: 0;
								@media screen and (max-width: 991px) and (min-width: 600px){
									// display: none;
								}
							}
						}
					}
					.address{
						font-size: 14px;
						margin-bottom: 3.2rem;
						@media(max-width: 991px){
					   	margin-bottom:20px;
					  }
						span{
							font-weight:600;
						}
						address{
							line-height: 1.7;
							font-size: 13px;
						}
					}
					.contact{
						a{
							display: block;
							margin-bottom: 3px;
						}
					}
					.socialIcons{
					  margin-top:30px;
					    ul{
					      display:flex;
					   		li{
					   			a{
					   				width:35px;
					   				height: 35px;
					   				@include FlexCenter;
					   				border:1px solid #fff;
					   				border-radius:50%;
					   				transition: 0.3s;
					   				&:hover{
					   					transform:scale(0.9);
					   					background-color: $base;
					   				}
					   				img{
					   					width: 15px;
		                  height: 14px;
					   				}
					   			}
					   			&:not(:last-child){
					   				margin-right: 19px;
					   			}
					   		}
					   	}
					   	@media(max-width: 991px){
					   		margin-top:20px;
					   	}
				   }
			   }
		    }
		}
	}
	.yellow-small-circle{
		left: 20%;
		top: 4%;
		width: 25px;
		height: 25px;
	}
	.yellow-medium-circle{
		bottom: unset;
		top: 20%;
		right: 20px;
		width: 75px;
		height: 75px;
	}
	.blue-small-circle{
		top: 70%;
	}
	.blue-big-circle{
		top: 10%;
		left: 48%;
		img{
			width: 80px;
		}
	}
}