.EventCardWrap{
  display: block;
  transition: 0.4s;
  padding:10px 10px 13px;
  h3{
    color:$darkGray;
    margin-bottom: 1.5rem;
  }
  ul{
    li{
      color:$black;
      font-size: 14px;
      &:not(:last-child){
        margin-bottom: 5px;
      }
    }
  }
  .imgWrap{
    overflow: hidden;
    img{
      filter: grayscale(1);
      transition: all .5s ease-in;
    }
  }
  &:hover{
    box-shadow: 0px 0px 15px rgba($black,0.1);
    .imgWrap{
      img{
        filter: unset;
        transform: perspective(1000px) scale(1.08);
      }
    } 
  }
}