footer{
	background-color:#003F63;
	text-align: center;
	color:#fff;
	font-size: 12px;
	color:rgba($white,0.8);
	.footerWrap{
		padding: 4.8rem 0 4rem;
		>a{
			display: inline-block;
			margin-bottom: 30px;
		}
		ul{
			@include FlexCenter;
		}
		nav{
			margin-bottom: 15px;
			ul{
				flex-wrap:wrap;
				margin:0 -15px;
				li{
					font-size: 12px;
					padding:0 15px;
					margin-bottom: 10px;
					a{
						color:rgba($white,0.8);
						transition: 0.3s;
						&:hover{
							color:$white;
						}
					}
				}
				@media(max-width: 767px){
					margin:0 -10px;
					li{
						padding:0 10px;
					}
				}
			}
		}
		.address{
		@include FlexCenter;
		margin-bottom: 14px;
		}
		.contact{
		ul{
			li{
				position: relative;
				color:rgba($white,0.8);
				&:not(:last-child){
					padding-right:10px;
					margin-right:10px;
					&:after{
						content:'';
						position: absolute;
						right:0;
						top:50%;
						transform: translateY(-50%);
						width:1px;
						height: 80%;
						background:rgba($white,0.5);
					}
				}
				a{
					transition: 0.3s;
					color:rgba($white,0.8);
					&:hover{
						color:$white;
					}
				}
			}
		}
		}
		.social{
		margin-top:30px;
		ul{
			li{
				a{
					width:50px;
					height: 50px;
					@include FlexCenter;
					border:1px solid #fff;
					border-radius:50%;
					transition: 0.3s;
					&:hover{
						transform:scale(0.9);
						background-color: $base;
					}
				}
				&:not(:last-child){
					margin-right: 19px;
				}
			}
		}
	}
	}
	.socialMedia{
		margin-top: 2rem;
	}
	.footerBottom{
		padding:20px 0;
		border-top:1px solid rgba($white,0.2);
	}
}