.footerTop{
  background-color: $base;
  padding: 5rem 0;
  color: #fff;
  position: relative;
  overflow: hidden;
  &::before{
		content: '';
    background: url(../img/light-base-hexagonal.svg) no-repeat;
    background-size: 83%;
    position: absolute;
    opacity: 0.1;
		width: 150px;
    height: 150px;
    left: 57px;
    top: 62%;
    @media(min-width: 768px){
      left: 57px;
      top: 43%;
    }
    @media(min-width: 992px){
      top: 30%
    }
	}
  &::after{
		content: '';
    background: url(../img/light-base-hexagonal.svg) no-repeat;
    background-size: 83%;
    position: absolute;
    opacity: 0.1;
		width: 100px;
    height: 100px;
    left: -36px;
    top: 76%;
    @media(min-width: 768px){
      left: -36px;
    top: 60%;
    }
	}
  .backgroundHexa{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    &::before{
      content: '';
      background: url(../img/light-base-hexagonal.svg) no-repeat;
      background-size: 83%;
      position: absolute;
      opacity: 0.1;
      width: 150px;
      height: 150px;
      right: 48px;
      top: -24%;
      @media(min-width: 768px){
        right: 114px;
        top: -26%;
      }
      @media(min-width: 1199px){
        right: 110px;
        top: -26%;
      }
    }
    &::after{
      content: '';
      background: url(../img/light-base-hexagonal.svg) no-repeat;
      background-size: 83%;
      position: absolute;
      opacity: 0.1;
      width: 115px;
      height: 115px;
      right: -55px;
      top: -24%;
      @media(min-width: 768px){
        right: 14px;
        top: -26%;
      }
      @media(min-width: 1199px){
        right: 10px;
        top: -26%;
      }
    }
  }
  h2{
    color: #fff;
    margin-bottom: 0;
  }
  .btnWrap{
    text-align: right;
    @media(max-width: 767px){
      margin-top: 15px;
      text-align: left;
    }
  }
}