
.formWrap{
  form{
    .input-group{
      padding-bottom: 3rem;
    }
    @media(min-width:481px){
    display: flex;
    flex-wrap:wrap;
    margin:0 -10px;
    .input-group{
      flex:0 0 50%;
      max-width: 50%;
      padding:0 10px;
      margin-bottom: 5rem;
      &.textarea{
        flex:0 0 100%;
        max-width: 100%;
      }
    }
  }
    label{
    	font-size: 14px;
    	color:$darkGray;
    	display: block;
    	margin-bottom: 0.5rem;
    }
    input[type="text"],input[type="email"],input[type="tel"],input[type="password"],textarea{
      width:100%;
      border:none;
      border-bottom:1px solid #d1d1d1;
      padding:10px 0;
      background:transparent;
      font-size: 14px;
      transition:0.4s ease-out;
      &::placeholder{
        color:#939598;
        font-size: 14px;
      }
      &:focus{
        border-color:$darkGray;
      }
    }
    textarea{
      height: 50px;
      resize:vertical;
      &:focus{
        outline:none;
      }
    }
    .btnWrap{
      @media(min-width: 481px){
         padding:0 10px;
      }
      input[type=submit]{
        background-color:transparent;
        border:2px solid $base;
        outline: none;
        display: inline-block;
        text-align: center;
        color:$base;
        font-size: 14px;
        font-weight: 600;
        padding: 11px 50px;
        text-transform:uppercase;
        cursor:pointer;
        transition: 0.3s;
        &:hover{
  		  color:$white;
        background-color: $base;
  		  }
      }
    }
  }
}