/*gallery CSS*/
.gallery{
	position:  relative;
	&::before{
		content: '';
    background: url(../img/large-hexagon-bg.svg) no-repeat;
    background-size: 83%;
    position: absolute;
		width: 840px;
    height: 740px;
    left: -22%;
    top: -59%;
		@media(min-width: 1199px){
			left: -17%;
			top: -55%;
		}
	}
	.row{
		margin:0 -14px;
		&.paginationGallery{
			margin: 0 -10px;
			>div{
				padding: 0;
				margin-bottom: 0;
				.ImgWrap{
					padding: 0 10px;
					margin-bottom: 20px;
				}
			}
		}
		>div{
			padding:0 14px;
			margin-bottom:28px;
			&.col-12{
				.img-group{
					.ImgWrap{
						@media(max-width: 767px){
							margin-bottom: 15px;
						}
						&::last-child{
							@media(max-width: 767px){
								margin-bottom: 0;
							}
						}
					}
				}
			}
			.ImgWrap{
				width: 100%;
				a{
					display: inline-block;
					width: 100%;
					img{
						width: 100%;
						filter: grayscale(1);
						transition:0.35s;
					}
					&:hover{
						img{
							filter:none;
						}
					}
				}
			}
			.img-group{
				display: flex;
				flex-wrap:wrap;
				align-content: space-between;
				height: 100%;
			}
		}
		@media(max-width: 991px){
			margin:0 -7px;
			>div{
				padding: 0 7px;
				margin-bottom: 14px;
			}
		}
	}
	.btnWrap{
		margin-top: 2.5rem;
		a{
			padding: 11px 32px;
		}
	}
	&.sport-gallery{
		// padding-bottom: 0;
		.row{
			>div{
				.ImgWrap{
					a{
						img{
							filter: grayscale(0);
							transition:0.3s;
						}
						&:hover{
							img{
								filter:grayscale(1);
							}
						}
					}
				}
			}
		}
	}
}

#pagination-container{
	margin-top: 2rem;
}
.simple-pagination ul {
	margin: 0 0 20px;
	padding: 0;
	list-style: none;
	text-align: center;
}

.simple-pagination li {
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
}

.simple-pagination li a,
.simple-pagination li span {
	color: $darkGray;
	padding: 5px 10px;
	text-decoration: none;
	// border: 1px solid #EEE;
	background-color: transparent;
}

.simple-pagination .current {
	color: #fff;
	background-color: $base;
}

.simple-pagination .prev.page-link,
.simple-pagination .next.page-link{
	color: $darkGray;
	font-size: 3.4rem;
	line-height: 20px;
	padding: 0px 12px;
}

.simple-pagination .prev.current,
.simple-pagination .next.current {
	background: transparent;
	color: $darkGray;
	font-size: 3.4rem;
	line-height: 20px;
	padding: 0px 12px;
	opacity: 0.8;
	cursor: not-allowed;
}