.GalleryPage{
  position:relative;
  &:before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -134px;
    width: 100%;
    height: 532px;
    background: url(../img/semi-hexagon.svg) no-repeat 50%;
    background-size: cover;
    z-index: -1;
      @media(max-width: 575px){
        height:400px;
      }
  }
  &:after{
    content: "";
    position: absolute;
    left: 50%;
    top: -30%;
    transform: translateX(-50%);
    width: 100%;
    height: 1200px;
    background: url(../img/gallery-bg-hexagon.svg) no-repeat 50%;
    background-size: contain;
    z-index: -1;
  }
  .galleryInner{
    &:before{
      content:'';
      width:55px;
      height: 150px;
      position: absolute;
      left:0;
      top:6%;
      background:url('../img/dots-pattern.png') no-repeat center;
      background-size: contain;
    }
  }
	.mainHeading{
		p{
			max-width: 380px;
		}
	}
  .parallax_elements{
    .blue-small-circle{
      left: 50%;
      top: 10px;
    }
    .yellow-small-circle{
      top: 35px;
      right: unset;
      left: 20px;
      img{
        width: 35px;
        height: 35px;
      }
    }
    .yellow-medium-circle{
      right: unset;
      left: 20%;
      bottom: unset;
      top: 90%;
      img{
        width: 35px;
        height: 35px;
      }
    }
  }
}

.filterNav{
    margin-bottom:4rem;
    /*@media(max-width: 767px){
      margin-bottom: 4rem;
    }*/
    ul{
      display: flex;
      align-items: center;
      justify-content: center;
      overflow-x:auto;
      @media(max-width: 575px){
        justify-content: flex-start;
      }
      li{
        button{
            color:$darkGray;
            font-size: 16px;
            text-transform:capitalize;
            transition: 0.3s;
            cursor: pointer;
            background: none;
            padding: 0;
            border:none;
            position: relative;
            
            &:after{
              content:'';
              position: absolute;
              bottom: 0;
              left:0;
              width:0;
              height:1px;
              background-color: $base;
              transition: 0.3s ease-out;
            }
            &:hover{
              color:$darkGray;
              &:after{
                width:100%;
              }
            }
            &:active{
              color:$black;
            }
            &.is-checked{
              color:$darkGray;
              font-family: 'Metropolis Semi'; 
              &:after{
                width:100%;
              }
              /*border-bottom: 1px solid $darkGray;*/
            }
        }
        &:not(:last-child){
          margin-right:50px;
        }
        @media(max-width: 767px){
          &:not(:last-child){
            margin-right:20px;
          }
          button{
            font-size: 14px;
            min-width: 88px;
          }
        }
      }
    }
  }

/*.MasonaryGallery {
    display: flex;
  }
  .GalleryItem {
    padding-bottom: 10px;
    flex-basis: calc(50% - 10px);
    max-width: calc(50% - 10px);
    @media screen and (min-width: 992px) {
      flex-basis: calc(25% - 10px);
      max-width: calc(25% - 10px);
    }
    img {
      display: block;
      &:hover{
        opacity: 0.7;
      }
    }
  }*/







  .GalleryPage {
  transition: 0.4s linear;

  .col-md-4 {
    padding-top: 0;
    padding-right: 15px;
    padding-left: 15px;
    @media (min-width: 768px) {
      padding-right: 7px;
      padding-left: 7px;
      padding-top: 10px;
    }
    @media (min-width: 1024px) {
      padding-right: 7px;
      padding-left: 7px;
      padding-top: 14px;
    }
    @media (min-width: 1150px) {
      padding-right: 7px;
      padding-left: 7px;
      padding-top: 14px;
    }
    &.ServicesItem{
      border: unset;
    }
  }
  .CaseStudyImg {
    position: relative;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin-bottom: 10px;
    animation-duration: 1.8s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: placeHolderShimmer;
      animation-timing-function: linear;
      background: #f6f7f8;
      background: linear-gradient(to right, #fafafa 8%, #f4f4f4 38%, #fafafa 54%);
      border: none;
    @media(min-width: 768px){
      margin-bottom: 0;
    }
    >a{
      width:100%;
      display: block;
    }
    img{
      border: unset !important;
    }
    .CaseStudyContent {
      position: absolute;
      background: rgba(255, 255, 255, 0.95);
      width: 75%;
      height: 75%;
      left: 0;
      right: 0;
      margin: 0 auto;
      opacity: 0;
      transition: opacity 500ms;
      vertical-align: middle;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      span {
      font-size: 1.6rem;
      font-style: italic;
      color: $white;
      /*font-family: $secondaryFont;*/
      margin-bottom: 0.3rem;
      }
      p {
      font-size: 1.9rem;
      margin: 0;
      padding-left: 5rem;
      padding-right: 5rem;
      /*font-family: $secondaryFont;*/
      color: $white;
      }
    }
    &:hover {
      .CaseStudyContent {
        opacity: 1;
      }
    }
  }
  .img-hover-zoom {
    overflow: hidden;
    img {
      transition: transform .5s ease;
      width: 100%;
      object-fit: cover;
    }
    &:hover {
    img {
      transform: scale(1.05);
      }
    }
  }
  
  
  #AllServisecGallery{
    &.are-images-unloaded{
      opacity: 0;
    }

  }

  @keyframes placeHolderShimmer{
      0%{
          background-position: -468px 0
      }
      100%{
          background-position: 468px 0
      }
  }
  
}



.mfp-counter {
  display: none !important;
}
button{
  &.mfp-close{
    background: $white;
    color: $base;   
    opacity: 0.9; 
  }
}


.mfp-arrow{
  opacity: 0.7;
  &::after{
    content: unset;
  }
  &.mfp-arrow-left{
    background: url(../img/arrow-left.svg);
    background-repeat: no-repeat;
    background-color: $white;
    width: 50px;
    height: 50px !important;
    background-position: center;
    @media(min-width: 1199px){
      // left: 3rem;
    }
  }
  &.mfp-arrow-right{
    background: url(../img/arrow-right.svg);
    background-repeat: no-repeat;
    background-color: $white;
    width: 50px;
    height: 50px !important;
    background-position: center;
    @media(min-width: 1199px){
      // right: 3rem;
    }
  }
}

.mfp-arrow-left{
  &:before{
    display: none;;
  }
}
.mfp-arrow-right{
  &:before{
    display: none;;
  }
}

.mfp-figure{
  img.mfp-img{
    padding: 0;
    border: 5px solid $white;
    /*transition: 0.3s;*/
   /* max-height: calc(100vh - 130px)!important;*/
  }
  .mfp-title{
   display: none;
  }
}

.page-template-GalleryPageTemplate{
  .mfp-arrow{
    top: 54%;
    opacity: 1;
    @media(min-width: 1100px){
      top: 50%;
      opacity: 0.65;
      transition: all 0.25s ease-in;
      &:hover{
        opacity: 1;
      }
    }
  }
  button{
  &.mfp-close{
      opacity: 1;
      width: 40px;
      height: 40px !important;
      @media(min-width: 1100px){
        width: 50px;
        height: 50px !important;
      opacity: 0.65;
      transition: all 0.25s ease-in;
      &:hover{
        opacity: 1;
      }
    }
  }
}
}