header{
  position: fixed;
  left:0;
  top:0;
  width: 100%;
  padding:3rem 0;
  z-index: 5;
  transition: all .4s ease 0s;
  &.stickyHeader{
  	background-color: #fff;
  	padding:10px 0 10px;
  	box-shadow: 0 3px 6px rgba(0,0,0,0.1); 
  	z-index: 9;
    .innerHeader{
      .logo{
        img{
          transform: scale(0.9);
        }
      }
    }
  }
  .innerHeader{
  	@include FlexBetween;
  	position: relative;
  	.logo{
  		img{
        transition: 0.4s;
        transform: scale(1);
  			@media(max-width: 575px){
  				max-width: 150px;
  			}
  		}
  	}
  }
  .headerRight{
  	display: flex;
  	.Btn{
      font-weight: 400;
      clip-path: none;
      @media(min-width: 768px){
        font-size: 16px;
        padding: 11px 50px;
      }
    	@media(max-width: 575px){
    		padding: 14px 13px;
    		font-size: 12px;
    	}
      &:after{
        clip-path:none;
      }
      &:hover{
         clip-path: polygon(0 0, 100% 0, 100% 75%, 93% 100%, 0 100%);
         &::after{
           clip-path: polygon(0 0, 100% 0, 100% 75%, 93% 100%, 0 100%);
         }
      }
    }
  	 .menuBar{
	    width: 49px;
	    height: auto;
	    position: relative;
      background: $base;
	    margin-left:6px;
	    cursor: pointer;
      clip-path: polygon(0 0, 100% 0, 100% 75%, 75% 100%, 0 100%);
      padding: 14px 11px 10px 10px;
      transition: 0.4s ease;
      &:after{
        content: "";
        position: absolute;
        background: $white;
        top:2px;
        left:2px;
        right:2px;
        bottom: 2px;
        clip-path: polygon(0 0, 100% 0, 100% 75%, 75% 100%, 0 100%);
        transition: 0.4s ease;
      }
	    >div{
        width: 28px;
        height: 2px;
        background-color: $base;
        position: relative;
        z-index: 1;
        margin-left: auto;
        text-align:right;
        margin-bottom: 6px;
        border-radius: 2px;
        transition: .5s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
	      &:nth-child(2){
	        width:20px;
	      }
	      &:last-child{
          width:24px;
	        margin-bottom: 0;
	      }
	    }
      &:hover{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);
        &:after{
         clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);
        }
        >div{
          width:28px;
        }
      }
      &.active{
        >div{
          &:first-child{
           -webkit-transform: rotate(-45deg) translate(-7px, 6px);
           transform: rotate(-45deg) translate(-7px, 6px);
          }
          &:nth-child(2){
            opacity: 0;
          }
          &:last-child{
            -webkit-transform: rotate(45deg) translate(-5px, -4px);
            transform: rotate(45deg) translate(-5px, -4px);
            width:28px;
          }
        }
      }
	  }
  }

  .menuWrapper{
  	position: fixed;
  	left:0;
  	top:0;
  	width:100%;
  	background-color:#fff;
  	z-index: 1;
  	/*padding:3rem 0;*/
  	height: 100vh;
  	display: flex;
  	/*transform: translateY(100%);*/
  	height: 0;
  	opacity: 0;
  	visibility: hidden;
     transform: translateY(-40%);
  	transition: 0.4s ease-out;
    overflow-y: auto;
    @media(max-width: 575px){
      align-items: center;
    }
  	.innerMenu{
  		display: flex;
  		flex-wrap:wrap;
  		/*align-items: center;*/
  		margin:0 -10px;
      .navigationWrap{
        flex:0 0 37%;
        max-width: 37%;
        padding:8rem 10px 0;
        @media(max-width: 991px){
          flex:0 0 50%;
          max-width:50%;
        }
        @media(max-width: 575px){
          flex:0 0 100%;
          max-width: 100%;
          padding:0 10px;
        }
  	  	.navbar{
  	  		ul{
  	  			li{
              transform: scale(1.15) translateY(-30px);
              opacity: 0;
              transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
              transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
              transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  	  				a{
  	  					color:$base;
  	  					font-size: 2.8rem;
  	  					transition: 0.3s;
                &:hover{
                  color:#258cd3;
                  text-decoration: underline;
                }
  	  				}
  	  				&:not(:last-child){
  	  					margin-bottom: 25px;
  	  				}
  	  				@media(max-width: 767px){
  	  					/*&:not(:last-child){
  		  					margin-bottom: 30px;
  		  				}*/
  		  				a{
  		  					font-size: 2.2rem;
  		  				}
  	  				}
  	  			}
  	  		}
  	  	} 

        .getIntouch{
          margin-top:4rem;
          border-top:1px solid rgba($black,0.05);
          padding:4rem 0;
          font-size: 14px;
          opacity: 0;
          transition: opacity 0.4s;
          @media(max-width: 575px){
            padding:3rem 0;
            width:100%;
             position: absolute;
             bottom: 0;
          }
        }
      }
	  	.menuImage{
	  		flex:0 0 63%;
	  		max-width: 63%;
        align-self:center;
	  		padding:0 10px;
        text-align: center;
        opacity: 0;
        transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition-delay: 0.5s;
        @media(max-width: 991px){
          flex:0 0 50%;
          max-width:50%;
        }

	  		@media(max-width: 575px){
	  			display: none;
	  		}
       .b-shape-hexagon{
        @media(max-width: 767px){
          min-height: 450px;
        }
       }
	  	}
	  }
  }
  &.Active_Nav{
  	.innerHeader{
  		.logo,.menuBar{
  			position: relative;
  			z-index: 3;
  		}
  	}
  	.menuWrapper{
       visibility:visible;
       opacity: 1;
       height: 100%;
       transform: translateY(0);
       @media(min-width: 576px){
        padding:5rem 0;
       }
       .menuImage{
          opacity: 1;
        }
       .innerMenu{
        .navigationWrap{
         .navbar{
          ul{
            li{
              transform: scale(1) translateY(0px);
              opacity: 1;
              &.hasDropdown{
                >a{
                  position: relative;
                  &::before{
                    content: '';
                    width: 25px;
                    height: 25px;
                    background: url('../img/down-arrow.svg') no-repeat;
                    background-size: 100%;
                    position: absolute;
                    left: 130%;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: all 0.25s ease-in;
                  }
                  &.open{
                    &::before{
                      transform: translateY(-50%) rotate(-180deg);
                    }
                  }
                }
                ul{
                  display: none;
                  background-color: #f2f4f5;
                  li{
                    margin-bottom: 10px;
                    padding-left: 15px;
                    &:first-child{
                      padding-top: 15px;
                    }
                    &:last-child{
                      padding-bottom: 15px;
                    }
                    a{
                      font-size: 2.2rem;
                    }
                  }
                }
              }
              &:first-child{
              transition-delay: 0.27s;
              }
              &:nth-child(2){
                transition-delay: 0.34s;
              }
              &:nth-child(3){
                transition-delay: 0.41s;
              }
              &:nth-child(4){
                transition-delay: 0.48s;
              }
              &:nth-child(5){
                transition-delay: 0.55s;
              }
              &:nth-child(6){
                transition-delay: 0.62s;
              }
              &:nth-child(7){
                transition-delay: 0.69s;
              }
              &:nth-child(8){
                transition-delay: 0.78s;
              }
            }
          }
         }
         .getIntouch{
          opacity:1;
          transition-delay: 0.90s;
         }
       }
     }
       /*transform: translateY(0);*/
  	}
  	&.stickyHeader{
  		padding: 30px 10px;
  	}
  }
}