.leftContentRightSlider{
	position:relative;
	/*&:before{
		content: "";
	    position: absolute;
	    right: 0;
	    top: -50%;
	    width: 50%;
	    height: 150%;
	    background: url(../img/b-blue-bg.svg) no-repeat 50%;
	    background-size: 100%;
	    z-index: 1;
	    @media(max-width: 767px){
	    	background-size: cover;
	    }
	}*/
	@media(max-width: 991px){
		padding-bottom: 5rem;
	}
	.mb-8-lg{
		@media(max-width: 991px){
			margin-bottom: 8rem;
		}
	}
	p{
		max-width: 432px;
		&:last-of-type{
			margin-bottom:34px;
		}
	}
	.hexagonImageWrap{
      position: relative;
      padding:6rem 0 5rem;
      @media(max-width: 575px){
      	padding:5rem 0;
      }
      &:before{
      	content: "";
	    position: absolute;
	    left: 0;
	    top: -87%;
	    width: 100%;
	    height: 220%;
	    background: url(../img/b-blue-bg.svg) no-repeat 50%;
	    background-size: 100%;
	    z-index: -1;
	    @media(max-width: 767px){
	    	background-size: cover;
	    }
      }  
      .hexagonImage{
      	 display: flex !important;
		  position: relative;
		  width: 380px !important;
		  height: 440px;
		  @media(max-width: 767px){
		  	width:250px !important;
		  	height: 290px;
		  }
      }
	}
}


.topImageBottomContent{
	position: relative;
	z-index: 1;
	/*.row{
		margin:0 -13px;
		>div{
			padding:0 13px;
		}
	}*/
	.btnWrap{
		@media(min-width: 768px){
			margin-top:5rem;
		}
	}
	/*&.eventsSection{
		@media(max-width: 767px){
			padding:5rem 0 0;
		}
	}*/
}


.leftImageRightContent{
	position: relative;
	padding:4rem 0 1rem;
	/*@media(max-width: 991px){
		padding:2rem 0;
	}*/
@media(min-width: 768px){
	&:before{
		content: "";
	    width: 57%;
	    height: 125%;
	    position: absolute;
	    left: -2%;
	    top: -14%;
	    transform: rotate(32deg);
	    background: url(../img/large-hexagon-bg.svg) no-repeat;
	    background-size: 100%;
	    opacity: .7;
	    /*@media(max-width: 991px){
	      width:100%;
          transform: none;
          left:0;
          top:-7%;
          background-size: contain;
	    }*/
	}
}
	&:after{
		content:'';
		width:55px;
		height: 150px;
		position: absolute;
		left:0;
		top:50%;
		transform:translateY(-50%);
		background:url('../img/dots-pattern.png') no-repeat center;
		background-size: contain;
	}
	.row{
		align-items: center;
		>div{ 	
			p{
				margin-bottom: 30px;
				@media(min-width:992px){
					max-width:450px;
				}
			}
			.hexagonImageWrap{
				background: url('../img/hexagon-bg.svg') no-repeat center;
				background-size: cover;
				padding:12rem 0;
				@media(max-width: 767px){
					padding:8rem 0;
					background-size: 110%;
				}
				.hexagonImage{
					&:after{
	                 content:'';
	                 width:200px;
	                 height:313px;
	                 position: absolute;
	                 left:50%;
	                 top:50%;
	                 transform: translate(-50%,-50%);
	                 background: url('../img/b-sign-white.svg') no-repeat center;
	                 background-size:contain;
	                 @media(max-width: 575px){
	                 	width:150px;
	                 	height: 250px;
	                 }
					}
				}
			}
		}
	}

	.parallax_elements{
		.circle{
			position: absolute;
			width:200px;
			height:200px;
		}
		.imgWrap{
			width:100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.yellow-small-circle{
			position: absolute;
			top:0;
			right:14%;
		}
		.yellow-medium-circle{
           position: absolute;
           right:-16px;
           bottom: 0;
		}
		.blue-small-circle{
			position: absolute;
			left:43%;
			top:45%;
		}
	}
	/*&.aboutUsSection{
      top:-10rem;
      @media(max-width: 991px){
	      .hexagonImageWrap{
	      	.hexagonImage{
	      		width: 320px;
			    height: 380px;
	      	}
	      }
		}
	}*/
	&.singleServiceSport{
		.hexagonImageWrap{
			.hexagonImage{
				&:after{
					display:none;
				}
			}
		}
	}
}


.topSvgIconBottomContent{
	position: relative;
	z-index: 2;
	@media(max-width: 991px){
		padding-top:4rem;
	}
	img{
		margin-bottom: 2rem;
	}
	h3{
		color:$black;
		font-weight: 500;
		margin-bottom: 10px;
		&.textBlue{
			color: $base;
		}
		&.normal{
			font-weight: 400;
		}
		&:last-of-type{
			margin-bottom: 15px;
		}
	}
	svg{
		width:58px;
		height:55px;
		margin-bottom: 2rem;
		fill:white;
	}
	ul{
		li{
			&:not(:last-child){
				margin-bottom: 5px;
			}
			color:$black;
			font-size: 15px;
			padding-left: 15px;
			position: relative;
			&::before{
				content: '';
				width: 5px;
				height: 5px;
				border: 1px solid $base;
				border-radius: 50%;
				position: absolute;
				left: 0;
				top: 7px;
			}
		}
		&.plusListStyle{
			li{
				color: $base;
				font-size: 18px;
				&::before{
					width: 11px;
					height: 11px;
					background: url('../img/add.svg') no-repeat;
					background-size: 100%;
					border: unset;
					border-radius: unset;
				}
			}
		}
	}
}

// case Study Card Section
.caseStudyCardSection{
	position: relative;
	&::before{
		content: '';
    background: url(../img/large-hexagon-bg.svg) no-repeat;
    background-size: 83%;
    position: absolute;
    width: 939px;
    height: 884px;
    right: -42%;
    top: -6%;
    transform: rotate(24deg);
		@media(min-width: 1199px){
			right: -35%;
			top: -6%;
		}
	}
	&::after{
		content: '';
    background: url(../img/large-hexagon-bg.svg) no-repeat;
    background-size: 83%;
    position: absolute;
    width: 939px;
    height: 884px;
    right: -20%;
    top: 6%;
    transform: rotate(-45deg);
		@media(min-width: 1199px){
			right: -20%;
			top: 6%;
		}
	}
}



// Testimonial
.testimonials{
	position: relative;
	text-align: center;
	&.pseduoElement{
		padding:6rem 0 9rem;
	@media(min-width: 768px){
		padding:11rem 0 15rem;
	}
		&:before{
			content:'';
			position: absolute;
			left:50%;
			transform: translateX(-50%);
			bottom: -310px;
			background:url('../img/testimonial-bg-element.svg') no-repeat center;
			background-size: contain;
			width:400px;
			height: 400px;
			z-index: -1;
		}
	}
	h2{
		font-weight: 500;
	}
	.testimonialSlider{
		.testimonialSlide{
			.content{
			   padding:4rem;
			   position: relative;
			   max-width: 920px;
			   margin:0 auto;
			   @media(max-width: 575px){
			   	padding:4rem 1.5rem;
			   }
			   &:before{
			   	content:'';
			   	position: absolute;
			   	left:0;
			   	top:0;
			   	width:30px;
			   	height: 25px;
			   	background: url('../img/quote.svg') no-repeat center;
			   	background-size: contain;
			   }
			   &:after{
			   	content:'';
			   	position: absolute;
			   	right:0;
			   	bottom:0;
			   	width:30px;
			   	height: 25px;
			   	background: url('../img/quote.svg') no-repeat center;
			   	background-size: contain;
			   	transform: rotate(180deg);
			   }
			   p{
			   	color:#595959;
			   	&:last-of-type{
			   		margin-bottom: 0;
			   	}
			   }
			}
			.profile{
				margin-top: 1rem;
				color:#595959;
				img{
					width:85px;
					height: 85px;
					margin:0 auto 18px;
					border-radius: 50%;
				}
				h3{
					font-size: 20px;
					color:#595959; 
					font-family: 'Metropolis Semi';
					margin-bottom: 8px;
				}
			}
		}
		.slick-dots{ 
            bottom:-30px;
            @media(min-width: 992px){
                bottom: -45px;
            }
            li{
                width:15px;
                height: 15px;
                button{
	                border-radius: 50%;
	                width:15px;
	                height: 15px;
	                background-color:#C9CACB;
	                display: flex !important;
				    -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
				    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
                    &:before{
                        display:none;
                    }
                }
                &.slick-active{
                    button{
                    	background: $base;
                        /*&:before{
                            background-color:#fcae00;
                        }*/
                    }
                }
            }
        }  

        .slick-arrow{
			z-index:1;
			width:41px;
			height: 25px;
			left:0;
			top:20%;
			@media(max-width: 575px){
				display: none !important;
			}
			&:before{
				content:'';
				position: absolute;
				left:0;
				top:0;
				width:100%;
				height: 100%;
				background:url('../img/slider-arrow.svg') no-repeat center;
				background-size: contain;
				z-index:1;
				transition: 0.3s;
			}
			&:hover{
				&:before{
					
				}
			}
			&.slick-next{
			  left:initial;
              right:0;
              &:before{
              	transform:rotate(180deg);
              }
			}
		}
	}
	/*&.pb-only{
		padding-bottom:4rem;
		@media(min-width:768px){
			padding-bottom: 8rem;
		}
	}*/
	.parallax_elements{
		.yellow-small-circle{
			right: unset;
			left: 10px;
			top: 70%;
		}
		.yellow-medium-circle{
			bottom: unset;
			top: 20%;
			right: -70px;
		}
	}
}

