.leftContentListRightHexaImage{
  position: relative;
  .iconList{
    li{
      font-size: 14px;
      margin-bottom: 2.5rem;
      display: flex;
      align-items: flex-start;
      .icon{
        width: 35px;
        height: 45px;
      }
      span{
        flex: 1;
        padding-left: 2rem;
        strong{
          font-weight: 500;
        }
      }
    }
  }
  // Hexa Image
  .hexagonImageMain{
		width: 79%;
		position: absolute;
		right: 5%;
		top: 50%;
		transform: translateY(-50%);
		z-index: 7;
		padding: 5rem;
		@media(min-width:1200px){
			width: 86%;
		}
		@media(max-width: 767px){
			display: none;
		}
		&:before{
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%) rotate(-8deg);
			background: url(../img/light-base-hexagonal.svg) no-repeat 50%;
			background-size: contain;
			z-index: 2;
		}
		&:after{
			content: "";
			width: 145%;
			height: 145%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%) rotate(12deg);
			background: url(../img/light-base-hexagonal.svg) no-repeat 50%;
			background-size: contain;
			z-index: 2;
			opacity: 0.3;
		}
		img{
			position: relative;
			z-index: 3;
		}
	}
}