
body{
	&.loading{
		#Loader0{
			transition: transform .6s cubic-bezier(.56,.01,0,1),-webkit-transform .6s cubic-bezier(.56,.01,0,1);
		    transition-delay: .25s;
		    transform: translateX(0);
		}
		#Loader1{
			transition: transform .6s cubic-bezier(.56,.01,0,1),-webkit-transform .6s cubic-bezier(.56,.01,0,1);
		    transition-delay: .5s;
		    transform: translateX(0);
		}
	}
	&.loading_out{
		#Loader0{
			transition: transform 1s cubic-bezier(.56,.01,0,1),-webkit-transform 1s cubic-bezier(.56,.01,0,1);
		    transform: translateX(200%);
		    transition-delay: .5s;
		}
		#Loader1{
			transition: transform 1s cubic-bezier(.56,.01,0,1),-webkit-transform 1s cubic-bezier(.56,.01,0,1);
		    transition-delay: .25s;
		    transform: translateX(200%);
		}
	}
	#Loader0{
	    position: fixed;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    background: #46acb9;
	    transform: translateX(-100%);
	    opacity: 1;
	    z-index: 1001;
	    display: block;
	    transition-delay: .25s;
	}
	#Loader1{
		position: fixed;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    background: linear-gradient(-90deg, #0474b5, #3a98a9 100%, #46acb9 0);
	    transform: translateX(-100%);
	    opacity: 1;
	    z-index: 1001;
	    display: block;
	}
}
