.parallax_elements{
  .circle{
    position: absolute;
    width:200px;
    height:200px;
  }
  .imgWrap{
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .yellow-small-circle{
    position: absolute;
    top:0;
    right:14%;
  }
  .yellow-medium-circle{
         position: absolute;
         right:-16px;
         bottom: 0;
  }
  .blue-small-circle{
    position: absolute;
    left:43%;
    top:45%;
  }
}