.leftContentRightHexaImage{
	position: relative;
	/*&:before{
		
	}*/
  &:before{
    content: "";
    position: absolute;
    right: -59%;
    top: -63%;
    width: 120%;
    height: 165%;
    background: url(../img/services-right-corner-element.svg) no-repeat;
    background-size: contain;
  }
	.innerContainer{
		max-width:1150px;
		margin:0 auto;
	}
	p{
		max-width: 530px;
	}
	.hexagonImageWrap{
		.hexagonImage{
			width:495px;
			height: 568px;
			@media(max-width: 1199px){
				width: 320px;
               height: 380px;
			}
			img{
			 width:100%;
			}
		}
	}
  .parallax_elements{
    .circle{
      position: absolute;
      /*width:200px;
      height: 200px;*/
    }
    .imgWrap{
      width:100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .yellow-small-circle{
      position: absolute;
      bottom: 0;
      left:50%;
      transform: translateX(-50%);
    }
    .yellow-medium-circle{
     position: absolute;
    left: -50px;
    top: 30%;
    }
    .blue-small-circle{
      position: absolute;
      left: 14%;
      top: 70%;
    }
  }
}

.servicesPoints{
	.row{
		margin:0 -8px;
		>div{
           padding:0 8px;
           @media(max-width: 991px){
           	margin-bottom: 3rem;
           }
           .hexagonImage{
           	width:312px;
           	height: 360px;
           	background-color:#F0F6FB;
           	text-align: center;
           	align-items: center;
           	padding: 40px 30px;
           	.content{
               margin:0 auto;
               h3{
               	margin-top:3rem;
               	font-size: 18px;
               	color:$base;
               	font-family: 'Metropolis Semi'; 
               	font-weight: 600;
               }
           	}
           	@media(max-width: 1399px){
           		width:225px;
           		height:270px;
           	}
           	/*@media(max-width: 575px){
           		width:150px;
           		height:180px;
           	}*/
           }
           &:nth-last-child(2){
           	.hexagonImage{
           		background-color:$base;
              .content{
              	ul{
	              	color:$white;
	              	text-align: left;
	              	li{
	              		font-size: 16px;
	              		margin-bottom: 10px;
	              		font-family: 'Metropolis Semi'; 
	              		font-weight: 600;
	              	}
	              }
              }
           	}
           }
		}
	}
}