.servicePage{
  &.ourStrength{
    .mainHeading{
      p{
        max-width: 95%;
        @media(min-width: 992px){
          max-width: 80%;
        }
      }
    }
    .spiderSection{
      .spider{
        &_leg{
          &.rightLeg{
            li{
              padding-right: 0 !important;
              padding-left: 20px !important;
            }
          }
          li{
            padding-right: 20px !important;
            align-items: flex-start;
            .icon{
              width: 45px;
            }
            .content{
              flex: 1;
              padding-left: 15px;
              h4{
                margin-bottom: 5px;
              }
              p{
                font-size: 14px;
              }
            }
            &::before{
              content: none;
            }
          }
        }
        &_body{
          max-width: 300px;
          padding: 25px;
          position: relative;
          // background: url(../img/light-base-hexagonal.svg) no-repeat;
          // background-size: 95%;
          background-position: 50%;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: center;
          justify-content: center;
          -ms-flex-align: center;
          align-items: center;
          &::before{
            content: '';
            background: url(../img/light-base-hexagonal.svg) no-repeat;
            background-size: 100%;
            width: 120%;
            height: 125%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(-14deg);
            z-index: -1;
            opacity: 0.8;
          }
          img{
            &::after{
              content: none;
            }
          }
        }
      }
    }
    .headContent{
      &.smallHeadContent{
        @media(min-width: 600px){
          width: 540px;
        }
        @media(min-width: 992px){
          width: 920px;
        }
        @media(min-width: 1199px){
          width: 1100px;
        }
        p{
          max-width: 100%;
        }
      }
    }
  }
  &.topSvgIconBottomContent{
    position: relative;
    &::before{
      content: "";
      position: absolute;
      left: -255px;
      top: 75%;
      background: url(../img/large-hexagon-bg.svg) no-repeat 50%;
      background-size: contain;
      width: 400px;
      height: 400px;
      transform: translateY(-50%) rotate(65deg);
      opacity: 0.8;
    }
    &::after{
      content: "";
      position: absolute;
      left: -320px;
      top: 75%;
      background: url(../img/light-base-hexagonal.svg) no-repeat 50%;
      background-size: contain;
      width: 550px;
      height: 550px;
      transform: translateY(-50%) rotate(145deg);
      z-index: -1;
      opacity: 0.6;
    }
    .parallax_elements{
      .yellow-small-circle{
        right: unset;
        left: 13%;
        top: 15%;
        img{
          width: 35px;
        }
      }
      .blue-small-circle{
        top: -20px;
      }
      .yellow-medium-circle{
        bottom: unset;
        top: 45%;
        right: -60px;
      }
    }
  }
}
