.singleCaseStudyPage{
  .caseStudyCard{
    border: unset;
    &:hover{
      .caseStudyCard_imageWrap{
        img{
          transform: scale(1);
        }
      }
    }
    &_imageWrap{
      height: 424px;
    }
    &_content{
      padding-left: 0;
      padding-right: 0;
      .leftlogoRightDate{
        .image{
          width: 98px;
        }
      }
      h3{
        font-size: 30px;
        margin-bottom: 15px;
      }
    }
  }
  .lefContentRightImage{
    h2{
      margin-bottom: 5px;
      font-weight: 500;
    }
  }

  ul{
    &.blueList{
      &.bullets{
        li{
          padding-left: 15px;
          position: relative;
          &::before{
            content: '';
            width: 6px;
            height: 6px;
            background-color: $base;
            position: absolute;
            left: 0;
            top: 5px;
            transform: rotate(45deg);
          }
        }
      }
      li{
        color: $base;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.4;
        margin-bottom: 10px;
      }
    }
  }
}
 