.eventPlanStart{
	position: relative;
	.mainHeading{
		p{
			max-width: 430px;
		}
	}
	.row{
		align-items: center;
		margin:0 -30px;
		/*>div{
			&:first-chi
		}*/
		>div{
			padding:0 30px;
			.mainHeading{
				margin-bottom: 3.4rem;
			}
			.btnWrap{
				margin-bottom: 6rem;
			}
			// ul{
			// 	li{
			// 		padding-bottom: 23px;
			// 		margin-bottom: 28px;
			// 		border-bottom: 1px solid #d1d1d19e;
			// 		a{
			// 			font-size: 14px;
			// 			color:$base;
			// 			font-weight: 600;
			// 		}
			// 	}
			// }
			.b-shape-hexagon{
				max-width: 90%;
				min-height: 1100px;
				margin-top:-40%;
				@media(max-width: 767px){
					max-width: 100%;
					min-height: 800px;
				}
				@media(max-width: 575px){
					max-width: 100%;
					min-height: 600px;
				}
			}
			@media(max-width: 991px){
				&:first-child{    	 	
					order:2;
				}
				&:last-child{
					margin-bottom:4rem;
				}
			}
		}
	}
	.accordion{
		&_content{
			padding: 23px 0;
			border-bottom: 1px solid #d1d1d19e;
			&:first-child{
				border-top: 1px solid #d1d1d19e;
			}
		}
		&_head{
			padding: 0;
			border-bottom: unset;
			font-size: 14px;
			// color:$base;
			font-weight: 600;
			text-transform: uppercase;
		}
		&_body{
			border-top: 0;
			padding-left: 0;
			padding-bottom: 0;
			margin-bottom: 0;
			background-color: transparent;
			.buletText{
				li{
					font-size: 14px;
					padding-left: 15px;
					position: relative;
					margin-bottom: 8px;
					&:before{
						content: '';
						width: 6px;
						height: 6px;
						background-color: $base;
						transform: rotate(45deg);
						position: absolute;
						left: 0;
						top: 6px;
					}
				}
			}
		}
	}
	.parallax_elements{
		.circle{
		 	position: absolute;
		}
		/*.imgWrap{
			width:100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}*/
		.yellow-small-circle{
			position: absolute;
			top:0;
			right:14%;
		}
		.yellow-medium-circle{
			position: absolute;
			bottom: 14%;
			left: 47%;
			transform: translateX(-50%);
		}
	}
}

/*.singleServiceSport{
	
}*/