.spiderSection{
  padding:35px 20px;
  align-items: center;
  @media(max-width: 991px){
    padding:40px 20px 35px;
  }
  .InnerBox{
    .row{
      @media(min-width: 992px){
        align-items: center;
      }
      >div{
        ul{
          li{
            margin-bottom: 30px;
            position: relative;
            color:$white;
            @media(min-width: 992px){
              display: flex;
              align-items: center;
              margin:0 -12px;
              &:before{
                content: "";
                position: absolute;
                right: 0;
                bottom: -5px;
                width: 110%;
                left: 20%;
                height: 1px;
                background: rgba(255,255,255,0.3);
              }
              /*&:after{
                content:'';
                position: absolute;
                right:0;
                bottom: -5px;
                width:100px;
                height:1px;
                background: red;
              }*/
              &:first-child,&:last-child{
                &:before{
                  bottom: -80px;
                  width: 120%;
                  left:20%;
                  height:77px;
                  background:url('../img/connect-line-down1.svg') no-repeat;
                  background-size:100%;
                }
              }
              &:last-child{
                &:before{
                  bottom:0;
                  background:url('../img/connect-line-up1.svg') no-repeat;
                  background-size: contain;
                }
              }
            }
            span{
                font-size: 24px;
                display: block;
                padding:0 12px;
                flex:0 0 80%;
                @media(max-width: 1199px){
                  font-size: 22px;
                }
            }
            .iconWrap{
                padding: 0 12px;
                flex:0 0 20%;
            }
            
            &:not(:last-child){
              margin-bottom: 125px;
            }
            @media(max-width: 991px){
              text-align:center;
              &:not(:last-child){
                margin-bottom: 50px;
              }
              span{
                font-size: 18px;
                margin-top:15px;
                min-height: 54px;
              }
            }
          }
        }
        &:first-child{
          @media(max-width: 991px){
            order:2;
          }
        }
        &:last-child{
          @media(max-width: 991px){
            order:3;
          }
          ul{
            li{
              @media(min-width:992px){
                flex-direction: row-reverse;
                justify-content: flex-start;
                &:before{
                  left:initial;
                  right:20%; 
                }
                &:first-child{
                  &:before{
                    background:url('../img/connect-line-down2.svg') no-repeat;
                  }
                }
                &:last-child{
                  &:before{
                    background:url('../img/connect-line-up2.svg') no-repeat;
                  }
                }
                span{
                  text-align: right;
                  margin-right:0;
                }
              }
            }
          }
        }
        .imgWrap{
          padding-top: 50px;
          img{
            min-width:235px;
          }
        }
      }
    }
  }
}