.bizspokeIntro{
	position: relative;
	padding:4rem 0;
	@media(max-width: 767px){
		padding:6rem 0 0;
	}
	@media(min-width:768px){
	&:before{
		content: "";
		position: absolute;
		right: -20%;
		top: 30px;
		background: #f0f6fb;
		background-size: contain;
		width: 50%;
		height: 50%;
		-webkit-clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
		clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
		opacity: .7;
		transform: rotate(47deg);
		}
	}
	.row{
		align-items: center;
		@media(min-width: 992px){
			margin:0 -35px;
		}
		>div{ 	
			@media(min-width:992px){
				padding:0 35px;
			}
			h2{
				@media(min-width: 767px){
					margin-bottom:15px;
				}
			}
			p{
				@media(min-width: 768px){
					margin-bottom: 30px;
					max-width:450px;
				}
			}
			.hexagonImageWrap{
				position: relative;
				&:before{
					content:'';
					position:absolute;
					left: -25%;
                    top: -20px;
					background:#F0F6FB;
					background-size: contain;
					width: 335px;
                    height: 300px;
					clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
					@media(max-width: 991px) and (min-width: 768px){
						left:0;
						top:0;
						width:100%;
						height: 100%;
					}
				}
				.hexagonImage{
					width: 425px;
						height: 488px;
						@media(max-width: 991px){
							width:320px;
							height:380px;
						}
					img{
						// filter:grayscale(1);
						object-fit:cover;
						transition: 0.3s;
					}
					&:hover{
						img{
							filter:grayscale(0);
						}
					}
				}
			}
		}
	}
	// .background-light-hexa{
	// 	&::before{
	// 		content: '';
	// 		width: 30px;
	// 		height: 30px;
	// 		background: url('../img/light-yellow-small.png') no-repeat;
	// 		background-size: 100%;
	// 		position: absolute;
	// 		top: 15%;
	// 		left: 25px;
	// 		opacity: 0.5;
	// 	}
	// 	&::after{
	// 		content: '';
	// 		width: 20px;
	// 		height: 20px;
	// 		background: url('../img/small-blue-circle.png') no-repeat;
	// 		background-size: 100%;
	// 		position: absolute;
	// 		top: 0;
	// 		left: 48%;
	// 	}
	// }
	// .background-light-hexa2{
	// 	&::before{
	// 		content: '';
	// 		width: 80px;
	// 		height: 80px;
	// 		background: url('../img/light-yellow-small.png') no-repeat;
	// 		background-size: 100%;
	// 		position: absolute;
	// 		top: 45%;
	// 		right: -40px;
	// 		opacity: 0.6;
	// 	}
	// 	&::after{
	// 		content: '';
	// 		width: 80px;
	// 		height: 80px;
	// 		background: url('../img/small-blue-circle.png') no-repeat;
	// 		background-size: 100%;
	// 		position: absolute;
	// 		bottom: -30px;
	// 		left: 12%;
	// 	}
	// }
	.parallax_elements{
		.blue-small-circle{
			top: 0;
			left: 48%;
			img{
				width: 20px;
			}
		}
		.yellow-medium-circle{
			bottom: unset;
			top: 45%;
    	right: -65px;
		}
		.yellow-small-circle{
			top: 15%;
    	left: 25px;
		}
		.blue-big-circle {
			top: 90%;
			left: 20%;
			img{
				width: 70px;
				height: 70px;
			}
		}
	}
}

// blue background 3 points
.bizspokeUspSection{
	position: relative;
	padding-top: 6rem;
	padding-bottom: 6rem;
	.parallax_elements{
		.yellow-small-circle{
			top: -20px;
			left: 8%;
			img{
				width: 30px;
			}
		}
		.yellow-medium-circle{
			top: 45%;
			left: 10px;
			right: unset;
			bottom: unset;
			img{
				width: 80px;
			}
		}
		.blue-small-circle{
			left: unset;
			top: 10%;
			right: 15%;
			opacity: 0.6;
			img{
				width: 30px;
			}
		}
		.blue-big-circle{
			left: unset;
			bottom: unset;
			top: 45%;
			right: -25px;
			opacity: 0.6;
			img{
				width: 75px;
			}
		}
	}
	h2{
		color: #fff;
	}
	.uspCard{
		color: #fff;
		text-align: center;
		img{
			margin-bottom: 15px;
		}
		h3{
			color: #fff;
			margin-bottom: 15px;
		}
		p{
			color: #fff;
			font-size: 14px;
		}
		ul{
			li{
				color: #fff;
			}
		}
	}
}

// What is Bizspoke
.whatIsBizspoke{
	position: relative;
	&.vision_mission{
		.parallax_elements{
			.yellow-small-circle{
				top: -20px;
				left: 45%;
				img{
					width: 30px;
				}
			}
			.yellow-medium-circle{
				bottom: unset;
				left: unset;
				right: 10%;
				top: 15%;
				z-index: 10;
				img{
					width: 30px;
				}
			}
			.blue-small-circle{
				right: unset;
				bottom: unset;
				top: 8%;
				left: 30px;
			}
			.blue-big-circle{
				right: 20%;
				top: 100%;
				img{
					width: 70px;
				}
			}
		}
	}
	&_listWrap{
		display: flex;
		flex-wrap: wrap;
		>*{
			width: 50%;
			@media(min-width: 768px){
				width: 50%;
			}
			@media(min-width: 992px){
				width: 33%;
			}
		}
	}
	&_list{
		text-align: left;
		padding-right: 15px;
		margin-bottom: 20px;
		.content{
			@media(min-width: 992px){
				max-width: 158px;
			}
		}
		.icon{
			margin-bottom: 10px;
			width: 40px;
			height: 40px;
		}
	}
}

/*hexagon check points*/
.hexagonCheckPoints{
	padding:8.3rem 0 2rem;
	position: relative;
	.row{
		>div{
			margin-bottom: 60px;
			.hexagonImage{
				text-align: center;
				background-color:$base;
				width:260px;
				height:290px;
				padding:50px 62px;
				align-items:center;
				@media(min-width: 768px) and (max-width: 991px){
					width: 230px;
				    height: 270px;
				    padding: 50px 30px;
				}
				.content{
					.check_circle{
                        width:35px;
                        height: 35px;
                        padding:4px;
                        margin-bottom: 17px;
                        @include FlexCenter;
                        border:1px solid $white;
                        border-radius: 50%;
                        display: inline-block;
                        .check{
                        	display: inline-block;
						    transform: rotate(44deg);
						    height: 20px;
						    width: 8px;
						    border-bottom: 1px solid #fff;
						    border-right: 1px solid #fff;
                        }
					}
					p{
						color:$white;
						margin-bottom: 0;
					}
				}
			}
			&:nth-child(even){
              .hexagonImage{
              	background-color:#F0F6FB;
              	.check_circle{
              		border-color:$base;
              		.check{
              			border-color: $base;
              		}
              	}
              	p{
              		color:$darkGray;
              	}
              }
			}
		}
	}
	.parallax_elements{
		.circle{
			position: absolute;
			top:50%;
			transform: translateY(-50%);
		}
		.yellow-small-circle{
           left:-13px;
		}
		.yellow-medium-circle{
          right:-30px;
		}
	}
}

.brandRelevance{
	// background-color:#F0F6FB;
	position: relative;
	padding: 8rem 0;
	&::before{
		content: '';
		width: 30px;
		height: 30px;
		background: url('../img/light-yellow-small.png') no-repeat;
		background-size: 100%;
		position: absolute;
		top: 6%;
		left: 15%;
		opacity: 0.6;
	}
	&::after{
		content: '';
		width: 75px;
		height: 75px;
		background: url('../img/light-yellow-big.png') no-repeat;
		background-size: 100%;
		position: absolute;
		top: 15%;
		left: -35px;
		opacity: 0.6;
	}
	.topHeading{
		color:#333333;
		h2{
			margin-bottom:10px;
		}
		p{
			font-size:18px;
			font-weight: 500;
		}
	}
	.spider2Container{
		>*{
			@media(max-width: 991px){
				margin-bottom: 25px;
			}
		}
		@media(min-width: 992px){
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&_leg{
			flex: 1;
			.keyPoints{
				ul{
					counter-reset: my-sec-counter;
					li{
						display: flex;
						// margin:0 -11px;
						// border-bottom: 1px dashed $base;
						position: relative;
						&::before{
							@media(min-width: 992px){
								content: '';
								position: absolute;
								border: 1px dashed $base;
								width: 103%;
								bottom: 0;
								right: 0;
								left: 0;
							}
						}
						&:first-child{
							&::before{
								@media(min-width: 992px){
									border: none;
									right: 0;
									bottom: -70px;
									width: 106%;
									left: 0;
									height: 77px;
									background: url(../img/connect-line-down1.svg) no-repeat;
									background-size: 100%;
								}
							}
							.circle{
								@media(min-width: 992px){
									right: -38px;
									bottom: -72px;
								}
							}
						}
						&:last-child{
							&::before{
								@media(min-width: 992px){
									border: none;
									height: 77px;
									width: 120%;
									right: 0;
									bottom: 0px;
									background: url(../img/connect-line-up1.svg) no-repeat;
									background-size: 100%;
								}
							}
							.circle{
								@media(min-width: 992px){
									top: -2px;
									right: -88px;
								}
							}
						}
						.circle{
							display: none;
							@media(min-width: 992px){
								display: block;
								position: absolute;
								border: 1px solid $base;
								background-color: #fff;
								width: 20px;
								height: 20px;
								border-radius: 50%;
								right: -32px;
								bottom: -8px;
							}
							&::before{
								content: '';
								position: absolute;
								left: 50%;
								top: 50%;
								transform: translate(-50%, -50%);
								border-radius: 50%;
								width: 50%;
								height: 50%;
								background-color: $base;
							}
						}
						.points_bullet{
							width: 35px;
							height: 35px;
							background-color: $base;
							border-radius: 50%;
							display: flex;
							align-items: center;
							justify-content: center;
							color: #fff;
							font-weight: bold;
							font-size: 1.4rem;
						}
						.counter{
							padding:0 11px;
							.hexagonImage{	
								width:68px;
								height: 60px;
							  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
								&:after{
									counter-increment: my-sec-counter;
									content: counter(my-sec-counter);
									position: absolute;
									left:50%;
									top:50%;
									transform:translate(-50%,-50%);
									color:$white;
									font-weight: 600;
								}
							}
						}
						.pointsContent{
							flex: 1;
							padding: 0 10px 0 15px;
							h3{
								font-size: 18px;
								color:#333;
								margin:0;
								font-weight: 600;
								margin-bottom: 3px;
							}
						}
						&:last-child{
							.pointsContent{
								margin-bottom: 0;
							}
						}
						&:not(:last-child){
							margin-bottom: 25px;
							@media(min-width: 992px){
								margin-bottom: 80px;
							}
						}
					}
				}
			}
			.valuePoints{
				@media(min-width: 992px){
					text-align: right;
				}
				h4{
					margin-bottom: 5px;
				}
				ul{
					li{
						color:#333333;
						font-size: 14px;
						padding-bottom: 20px;
						// border-bottom: 1px dashed $base;
						position: relative;
						&::before{
							@media(min-width: 992px){
								content: '';
								position: absolute;
								border: 1px dashed $base;
								width: 103%;
								bottom: 9px;
								right: 0;
								left: -14px;
							}
						}
						&:first-child{
							padding-bottom: 5px;
							&::before{
								@media(min-width: 992px){
									border: none;
									right: 0;
									bottom: -70px;
									width: 107%;
									left: auto;
									height: 77px;
									background: url(../img/connect-line-down2.svg) no-repeat;
									background-size: 100%;
								}
							}
							.circle{
								@media(min-width: 992px){
									left: -10%;
									bottom: -70px;
								}
							}
						}
						&:last-child{
							&:before{
								@media(min-width: 992px){
									border: none;
									right: 0;
									bottom: 0px;
									width: 122%;
									left: auto;
									height: 77px;
									background: url(../img/connect-line-up2.svg) no-repeat;
									background-size: 100%;
								}
							}
							.circle{
								@media(min-width: 992px){
									bottom: unset;
									top: -9px;
									left: -26%;
								}
							}
						}
						.circle{
							display: none;
							@media(min-width: 992px){
								display: block;
								position: absolute;
								border: 1px solid $base;
								background-color: #fff;
								width: 20px;
								height: 20px;
								border-radius: 50%;
								left: -7%;
								bottom: 0px;
							}
							&::before{
								@media(min-width: 992px){
									content: '';
									position: absolute;
									left: 50%;
									top: 50%;
									transform: translate(-50%, -50%);
									border-radius: 50%;
									width: 50%;
									height: 50%;
									background-color: $base;
								}
							}
						}
						span{
							font-weight: 600;
						}
						&:not(:last-child){
							margin-bottom: 25px;
							@media(min-width: 992px){
								margin-bottom: 105px;
							}
						}
					}
				}
			}
		}
		&_body{
			@media(min-width: 992px){
				width: 33.5%;
			}
			.hexagonWrap{
				width: 300px;
				height: 300px;
				border-radius: 50%;
				border: 1px dashed $base;
				margin: 0 auto;
				display: flex;
				align-items: center;
				justify-content: center;
				@media(min-width: 1199px){
					width: 350px;
					height: 350px;
				}
				.circleImage{
					width: 235px;
					height: 235px;
					padding: 30px 58px;
					border-radius: 50%;
					background-color: $base;
					color: #fff;
					margin: 0 auto;
					text-align: center;
					@media(min-width: 1199px){
						width: 275px;
						height: 275px;
						padding: 30px 58px;
					}
					span{
						display: inline-block;
						font-size: 2.2rem;
						line-height: 1.4;
						margin-bottom: 10px;
						@media(min-width: 1199px){
							font-size: 2.8rem;
						}
					}
					h2{
						color: #fff;
						line-height: 1.4;
						font-size: 2.8rem;
						@media(min-width: 1199px){
							font-size: 3.2rem;
						}
					}
				}
				.hexagonImage{
					width: 313px;
					height: 360px;
					padding: 60px;
					flex-wrap: wrap;
					align-items: center;
					justify-content: center;
					text-align: center;
					span{
						color:$white;
						font-weight: bold;
						font-size: 30px;
						display: inline-block;
						margin-bottom: 23px;
					}
				}
			}
		}
	}
	// .row{
	// 	align-items:center;
	// 	>div{
	// 		@media(max-width: 991px){
	// 			margin-bottom: 40px;
	// 		}
  //     .keyPoints{
	// 			ul{
	// 				counter-reset: my-sec-counter;
	// 				li{
	// 					display: flex;
	// 					align-items: center;
	// 					margin:0 -11px;
	// 					.counter{
	// 						padding:0 11px;
	// 						.hexagonImage{	
	// 							width:68px;
	// 							height: 60px;
	// 						  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
	// 							&:after{
	// 								counter-increment: my-sec-counter;
	// 								content: counter(my-sec-counter);
	// 								position: absolute;
	// 								left:50%;
	// 								top:50%;
	// 								transform:translate(-50%,-50%);
	// 								color:$white;
	// 								font-weight: 600;
	// 							}
	// 						}
	// 					}
	// 					.pointsContent{
	// 						padding: 0 11px;
	// 						h3{
	// 							font-size: 18px;
	// 							color:#333;
	// 							margin:0;
	// 							font-weight: 600;
	// 							margin-bottom: 3px;
	// 						}
	// 					}
	// 					&:last-child{
	// 						.pointsContent{
	// 							margin-bottom: 0;
	// 						}
	// 					}
	// 					&:not(:last-child){
	// 						margin-bottom: 23px;
	// 					}
	// 				}
	// 			}
	// 		}
	// 		.centerContentWrap{
	// 			.circleImage{
	// 				background-color: $base;
	// 				width: 313px;
	// 				height: 360px;
	// 				padding: 60px;
	// 				border-radius: 50%;
	// 			}
	// 		}
	// 		.hexagonWrap{
	// 			.hexagonImage{
	// 				width: 313px;
	// 				height: 360px;
	// 				padding: 60px;
	// 				flex-wrap: wrap;
	// 				align-items: center;
	// 				justify-content: center;
	// 				text-align: center;
	// 				span{
	// 					color:$white;
	// 					font-weight: bold;
	// 					font-size: 30px;
	// 					display: inline-block;
	// 					margin-bottom: 23px;
	// 				}
	// 			}
	// 		}
	// 		.valuePoints{
	// 			ul{
	// 				li{
	// 					color:#333333;
	// 					font-size: 14px;
	// 					span{
	// 						font-weight: 600;
	// 					}
	// 					&:not(:last-child){
	// 						margin-bottom: 23px;
	// 					}
	// 				}
	// 			}
	// 		}
	// 	}
	// }
}