  * {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;
  background-color:#fff;
}
body {
  color:$darkGray;
  font-family: 'Metropolis', sans-serif;
  font-size:16px;
  line-height: 1.5;
}
main{
  margin-top:85px;
  @media(min-width: 992px){
    margin-top:110px;
  }
}
body,html{
	min-height: 100vh;
  padding: 0;
  margin: 0;
	overflow-x: hidden;
}
p {
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: $darkGray;
  font-size: 14px;
  line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1.6rem;
  font-weight: bold;
  color: $nero;
  font-family: $primaryFont;
}
h1{
  font-size: 2.4rem;
  line-height: 1.3;
  margin-bottom: 3rem;
  @media(min-width: 768px){
    font-size: 3rem;
  }
}
h2{
  font-size:30px;
  font-weight: 600;
  margin-bottom: 30px;
  color:#282828;
  @media(max-width:767px){
    font-size:24px;
  }
  &.textCenter{
    text-align: center;
  }
  &.textLeft{
    text-align: left;
  }
}
h3{
  font-size: 18px;
}

ul{
  list-style: none;
  margin:0;
  padding:0;
  color:$darkGray;
}

button:active,button:focus{
border:none;
outline: none;
}
input:active,input:focus{
outline: none;
}
a{
  color:inherit;
  text-decoration: none;
}
a:focus,a:active{
  outline:none;
}
address{
  font-style:normal;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}



img {
  max-width: 100%;
  vertical-align: middle;
    &.Width100 {
    width: 100%;
  }
}
svg{
  vertical-align: middle;
}


.d-block{
  display: block;
}
.d-flex{
  display: flex;
}

.Pt40 {
  padding-top: 40px;
}

.Pb40 {
  padding-bottom: 5rem;
}
.pb-1{
  padding-bottom: 1rem;
}
.pl-3{
  padding-left: 3rem;
}
.pt-1{
  padding-top: 1rem;
}
.px-0-sm{
  @media(max-width: 575px){
    padding-left:0;
    padding-right:0;
  }
}
.m-0{
  margin:0 !important;
}
.mt-1{
  margin-top:1rem;
}
.mt-2{
  margin-top:2rem;
}
.mt-3{
  margin-top:3rem;
}
.mt-4{
  margin-top:4rem;
}
.mb-0{
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2{
  margin-bottom: 2rem;
}

.mb-3{
  margin-bottom: 3rem;
}

.mb-4{
  margin-bottom: 4rem;
}

.alignItemCenter{
  align-items: center;
}
.alignSelfCenter{
  align-self: center;
}
.justifyCenter{
  justify-content: center;
}
.order-2-md{
  @media(max-width:767px){
    order:2;
  }
}

.order-2-lg{
  @media(max-width:991px){
    order:2;
  }
}

.mb-15-md{
  @media(max-width:767px){
    margin-bottom:1.5rem;
  }
}

.mb-2-md{
  @media(max-width:767px){
    margin-bottom:2rem;
  }
}
.mb-2-lg{
  @media(max-width:991px){
    margin-bottom:2rem;
  }
}

.mb-3-md{
  @media(max-width:767px){
    margin-bottom:3rem;
  }
}
.mb-3-lg{
  @media(max-width:991px){
    margin-bottom:3rem;
  }
}

.mb-4-md{
  @media(max-width:767px){
    margin-bottom:4rem;
  }
}

.lg-3-md{
  @media(max-width:991px){
    margin-bottom:3rem;
  }
}

.lg-4-md{
  @media(max-width:991px){
    margin-bottom:4rem;
  }
}

.text-center-md{
  @media(max-width:767px){
    text-align: center;
  }
}
.ob-fit-cover{
  object-fit: cover;
}

.topHeading{
  text-align: center;
  margin-bottom: 5rem;
  p{
    &:last-of-type{
      margin-bottom:0;
    }
  }
 &.text-left{
  text-align: left;
 }
}

.mainHeading{
  text-align: center;
  margin-bottom:5rem;
  h1{
    font-size: 2.6rem;
    margin-bottom: 2.1rem;
    color:$darkGray;
   @media(min-width: 768px){
    font-size: 3rem;
   }
    @media(max-width: 575px){
      font-size:2.4rem;
    }
  }
  p{
    max-width: 375px;
    margin:0 auto 1.5rem;
    &:last-of-type{
      margin-bottom:0;
    }
  }
  &.text-left{
    text-align: left;
    p{
      margin:initial;
    }
  }
}

.hexagonImage{
  display: flex;
  position: relative;
  width: 380px;
  height: 440px;
  background-color: $base;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  /*clip-path: polygon(47.5% 5.66987%, 48.2899% 5.30154%, 49.13176% 5.07596%, 50% 5%, 50.86824% 5.07596%, 51.7101% 5.30154%, 52.5% 5.66987%, 87.14102% 25.66987%, 87.85495% 26.16978%, 88.47124% 26.78606%, 88.97114% 27.5%, 89.33948% 28.2899%, 89.56505% 29.13176%, 89.64102% 30%, 89.64102% 70%, 89.56505% 70.86824%, 89.33948% 71.7101%, 88.97114% 72.5%, 88.47124% 73.21394%, 87.85495% 73.83022%, 87.14102% 74.33013%, 52.5% 94.33013%, 51.7101% 94.69846%, 50.86824% 94.92404%, 50% 95%, 49.13176% 94.92404%, 48.2899% 94.69846%, 47.5% 94.33013%, 12.85898% 74.33013%, 12.14505% 73.83022%, 11.52876% 73.21394%, 11.02886% 72.5%, 10.66052% 71.7101%, 10.43495% 70.86824%, 10.35898% 70%, 10.35898% 30%, 10.43495% 29.13176%, 10.66052% 28.2899%, 11.02886% 27.5%, 11.52876% 26.78606%, 12.14505% 26.16978%, 12.85898% 25.66987%);*/
  margin:0 auto;
  @media(max-width:575px){
    width:300px;
    height: 360px;
  }
}
.b-shape-hexagon{
  display: flex;
  position: relative;
  max-width: 452px;
  min-height: 680px;
  background-color: white;
  clip-path: polygon(20% 39%, 50% 27%, 100% 46%, 100% 80%, 100% 80%, 51% 100%, 0 80%, 0 45%, 0 7%, 20% 0);
  /*clip-path: polygon(47.5% 5.66987%, 48.2899% 5.30154%, 49.13176% 5.07596%, 50% 5%, 50.86824% 5.07596%, 51.7101% 5.30154%, 52.5% 5.66987%, 87.14102% 25.66987%, 87.85495% 26.16978%, 88.47124% 26.78606%, 88.97114% 27.5%, 89.33948% 28.2899%, 89.56505% 29.13176%, 89.64102% 30%, 89.64102% 70%, 89.56505% 70.86824%, 89.33948% 71.7101%, 88.97114% 72.5%, 88.47124% 73.21394%, 87.85495% 73.83022%, 87.14102% 74.33013%, 52.5% 94.33013%, 51.7101% 94.69846%, 50.86824% 94.92404%, 50% 95%, 49.13176% 94.92404%, 48.2899% 94.69846%, 47.5% 94.33013%, 12.85898% 74.33013%, 12.14505% 73.83022%, 11.52876% 73.21394%, 11.02886% 72.5%, 10.66052% 71.7101%, 10.43495% 70.86824%, 10.35898% 70%, 10.35898% 30%, 10.43495% 29.13176%, 10.66052% 28.2899%, 11.02886% 27.5%, 11.52876% 26.78606%, 12.14505% 26.16978%, 12.85898% 25.66987%);*/
  margin:0 auto;
  @media(max-width:991px){
    max-width:100%;
    min-height: 500px;
  }
}
/*6 Axes hexagon image
clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);*/




.grayText{
  color: $gray;
}
.blueText{
  color: $base;
}

.blueBackground{
  background-color: $base;
}
.lightBaseBackground{
  background-color: $lightBase;
  color: #fff;
}