
$black: #000;
$white: #fff;
$base: #0474B5;
$lightBase: #F0F6FB;
$nero:#282828;
$darkGray:#333;
$gray: #999;
$lightGray: #ccc;


$primaryFont: 'Metropolis', sans-serif;
/*$secondaryFont: 'Product Sans';*/
