.Section{
	padding-top:5rem;
	padding-bottom:5rem;
	@media(min-width: 768px){
		padding-top:8rem;	
		padding-bottom: 8rem;
	}
}

.py-large{
	padding:5rem 0;
	@media(min-width: 768px){
		padding:10rem 0;
	}
}